/* NAVBAR */
.navbar {
  width: 100%;
  height: 100%;
}

/* LEFT SIDE */
.leftside {
  background-color: lightgrey;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
}

/* SEARCH BAR */
.search {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
/* LIST OF CITIES */
/* #majorcities {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  float: left;
}

#yourcities {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 2%;
  float: right;
} */

/* RIGHT SIDE */

/* PICKED CITY */
.jumbotron {
  background-color: aquamarine;
  float: top;
  width: 100%;
  height: 100%;
  padding-top: 5%;
}
/* 7 DAY FORECAST */
.card {
  background-color: lightgrey;
}

.forecast-title{
  padding-left: 20%;
}

.row1{
  display: inline;
}